#navSection {
  margin-top: 10vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 6 kolumner */
  grid-template-rows: auto;
  border: 0.3rem solid green;
  gap: 1rem;
  margin-bottom: 0.3rem;
}

#nav {
  display: flex;
  gap: 1rem;
  height: auto;
  grid-column: 1 / span 1; /* Börjar i kolumn 2 och spänner över 3 kolumner */

  background-color: lightblue;
  border: 0.3rem solid red;
  justify-self: center;
  align-self: center;
  h2 {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    font-weight: normal;
  }
}

#container {
  height: auto;
  border: 0.3rem solid saddlebrown;
  display: grid;
  grid-template-rows: repeat(8, 9vh);
  grid-template-columns: repeat(4, 1fr);

  #sidebar {
    display: grid;

    border: 0.3rem solid purple;
    padding: 1rem;
    grid-area: 1/1/9/2;
    /*  rs/re/cs/ce */
  }

  p {
    font-size: clamp(0.6rem, 2.5vw, 1rem);
    color: rgb(55, 128, 14);
  }

  #middle {
    display: flex;
    border: 0.3rem solid rgb(52, 17, 179);

    grid-area: 1/2/5/3;
    /*  rs/re/cs/ce */
    justify-content: center;
    h3 {
      font-size: clamp(1rem, 2.5vw, 1.4rem);
      color: green;
    }
  }

  #right {
    display: flex;
    border: 0.3rem solid rgb(255, 0, 234);

    grid-area: 1/4/8/5;
    /*  rs/re/cs/ce */
    justify-content: center;

    h3 {
      font-size: clamp(1rem, 2.5vw, 1.4rem);
      color: green;
    }
  }
}
